<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    
    
    
    <!--微信平台自定义配置信息·开始-->
    <!--验证服务器自定义Token-->
    <add key="WeChatToken" value="Token2017ByClassBao"/>
    <!--消息加解密密钥-->
    <add key="EncodingAESKey" value="85Z6xAz92HaUybQ5kAgq70BV8hCdc2567JLOT5FpAIu"/>
    <!--微信公众号域名（结尾不包含“/”）-->
    <add key="WeChatDomainName" value="http://wechat.classbao.com"/>
    <!--公众微信号名称-->
    <add key="WeChatName" value="我的微信平台测试号"/>
    <!--公众微信号-->
    <add key="WeChatNumber" value="公众微信号"/>
    <!--公众微信号ID（原始ID）-->
    <add key="WeChatId" value="gh_6f42d9d55783"/>
    <!--微信开发者ID：AppID(应用ID，微信公众号身份的唯一标识)-->
    <add key="WeChatAppId" value="wx0cc3392c51c56159"/>
    <!--微信开发者ID：AppSecret(应用密钥)-->
    <add key="WeChatAppSecret" value="80beb9908dd295eff82ede726dbfc36d"/>
    <!--微信平台自定义配置信息·结束-->

    <!--接收微信通知消息的管理员-->
    <add key="administratorOpenID" value="od2Uu1EP8pqvNDHz8iUtLDHCXfcg" />
    <!--接收微信支付通知消息的管理员-->
    <add key="paymentNoticeOpenID" value="od2Uu1EP8pqvNDHz8iUtLDHCXfcg" />
    
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
